@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.main-header .bottom-bar .search-block
		margin-right: 50px
	.main-header .bottom-bar a.logo
		margin-right: 10px
	.main-header .bottom-bar .phone-block
		margin-right: 45px
	a.portfolio-block, a.portfolio-block img
		min-height: 189px
		height: 189px
	.capture-user .form-wrap .default-form
		width: 350px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.advantages .icon-block
		min-height: 170px
		margin-right: auto
		margin-left: auto
	.working-block::after, .working-block::before, .working-block .number::after
		display: none
	a.portfolio-block, a.portfolio-block img
		height: 217px
		min-height: 217px
	.capture-user .form-wrap .default-form
		width: 320px
	.capture-user .question h3
		font-size: 1.875em
	.capture-user .question .call-question-popup
		font-size: 1.250em
		display: inline-block
	.map
		height: auto
		background-color: #fff
		padding-bottom: 26px
		#ya-map
			height: 400px
	.contact-block
		position: relative
		left: 0
		top: 0
		margin-left: auto
		margin-right: auto
		height: auto
	.main-footer .top-footer
		padding: 0
		background-color: #2b2a29
	.main-header .bottom-bar
		padding: 0
		height: 106px
		width: 100%
		padding-top: 14px
		a.logo
			width: 140px
			margin: 0
		.search-block
			margin: 0
			width: 400px
			margin-left: 60px
			margin-top: 15px
			#searchform
				width: 400px
				border-color: #d1d1d1
				input[type="text"]
					width: 400px
		.basket-block
			margin-top: 8px
			margin-right: 25px
			.number
				position: relative
				left: 0
			.wrap-product-basket
				margin-top: 66px
	.main-header .top-bar .user-profile
		margin-top: 20px
		max-height: 62px
	.main-header .top-bar
		height: 98px
	.main-header .top-bar .user-profile a.registration
		display: none
		font-size: 1.500em
		margin-top: 10px
		&::after
			margin-top: 12px
	.catalogue-nav-icon a.catalogue-nav-icon-item
		width: 25%
		border: none
	.content
		margin-bottom: 30px
		padding-top: 15px
	#open-sidebar
		margin-top: 5px
	.sidebar-wrapper
		position: absolute
		width: 98%
		transition: $trans
		z-index: 1000
		left: -100%
		background: #fafafa
		border: 1px solid #e8e8e8
		margin: 1%
		&.active
			left: 0
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.main-header .bottom-bar .search-block
		display: none
		margin: 0
		padding: 20px 14px
		position: absolute
		z-index: 100
		min-width: 100%
		left: 0
		top: -14px
		background: #2b2a29
		width: 100%
		border-top: 1px solid #fff
		#searchform
			border-color: $accent
			width: 100%
			input[type="text"]
				width: 100%
	a.portfolio-block, a.portfolio-block img
		height: auto
		min-height: 100%
	a.portfolio-block img
		width: 100%
	a.portfolio-block p
		position: relative
		bottom: 0
		left: 0
		margin-top: 40px
		margin-left: 35px
		padding-bottom: 30px
	.capture-user
		height: auto
		.form-wrap
			float: none
			padding-left: 12px
			padding-right: 12px
			.default-form
				width: 100%
				.alignright
					text-align: center
		.question
			height: 285px
			padding-left: 12px
			padding-right: 12px
			text-align: center
			.call-question-popup
				border: none
	.contact-block
		width: auto
		ul
			width: 290px
			li b
				margin-right: 15px
				min-width: 75px
				max-width: 75px
			li span
				width: 200px
	.map #ya-map
		height: 200px
	.owl-manufacturer
		margin-top: 30px
	.manufacturer #owl-manufacturer-navigation
		margin: 0
		position: absolute
		bottom: -50px
		width: 100%
		z-index: 100
		text-align: center
		left: 0
	.gallery-item
		max-width: 50% !important
	.taxvisitors-item
		padding-left: 50px
		.date
			width: 50px
			font-size: 13px
	.catalogue-nav-icon a.catalogue-nav-icon-item
		width: 50%
	#project-bye
		top: 100px
		width: 50px
		span
			height: 50px
			font-size: 0.5em
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.main-header .bottom-bar .basket-block .wrap-product-basket
		width: 265px
	.gallery-item
		max-width: 100% !important
	.catalogue-nav-icon a.catalogue-nav-icon-item
		width: 100%
	.representation
		height: 450px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.main-header .bottom-bar .search-block
		display: block !important


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.main-header .top-bar .user-profile .registration
		display: block !important
	.header-mobile-menu
		display: none !important

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

// Bootstrap
@media (min-width: 768px)
	.fw-container
		width: 760px !important
	.col-sm-15
		width: 20%
		float: left
@media (min-width: 992px)
	.fw-container
		width: 980px !important
	.col-md-15
		width: 20%
		float: left
@media (min-width: 1200px)
	.fw-container
		width: 1210px !important
	.col-lg-15
		width: 20%
		float: left