@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #a0a0a0
	opacity: 1

*:-moz-placeholder
	color: #a0a0a0
	opacity: 1

*::-moz-placeholder
	color: #a0a0a0
	opacity: 1

*:-ms-input-placeholder
	color: #a0a0a0
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #a0a0a0
body input:required:valid,
body textarea:required:valid
	color: #a0a0a0

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: #2b2a29

.img-responsive
	display: block
	max-width: 100%
	height: auto

/* links */
a:link, a:visited
	color: #2b2a29
	outline: none
	text-decoration: none
	border-bottom: 2px dashed #9c9c9b
a:hover
	color: #2b2a29
	border-bottom-style: solid

// OWL NAVIGATION
.owl-product-gallery .owl-nav, #owl-related-navigation, #owl-manufacturer-navigation
	.owl-prev, .owl-next
		display: inline-block
		width: 30px
		height: 30px
		background-color: $accent
		border-radius: 50%
		text-align: center
		cursor: pointer
		.fa
			color: #fff
			line-height: 30px
			font-size: 28px
			font-weight: bold
		&:hover
			background-color: #fbd091
	.owl-prev
		margin-right: 5px
		.fa
			padding-right: 3px
	.owl-next
		margin-left: 5px
		.fa
			padding-left: 3px
// END OWL NAVIGATION

// START HEADER
.home .main-header .bottom-bar
	border: none
.main-header
	.top-bar
		height: 62px
		background-color: #2b2a29
		position: relative
		z-index: 4000
		a
			color: #fff
			font-family: $gpr
			border: none
		.main-nav
			float: left
			padding-top: 17px
			ul
				margin: 0
				padding: 0
				list-style: none
				li
					display: inline-block
					line-height: 1
					margin-right: 37px
					position: relative
					&:hover
						opacity: .9
					&:last-child
						margin-right: 0
					&.menu-item-has-children > a::after
						content: ''
						display: inline-block
						background: url(../img/sprite.png) 0 0 no-repeat
						height: 7px
						width: 11px
						margin-left: 11px
						transition: $trans
						vertical-align: top
						margin-top: 6px
					&.menu-item-has-children:hover > a::after
						transform: rotate(-180deg);
					.sub-menu
						display: none
						position: absolute
						background-color: #2b2a29
						z-index: 1000
						margin-left: -15px
						padding: 35px 15px 10px
						width: auto
						min-width: 150px
						max-width: 250px
						li
							display: block
							margin: 0 0 15px
					&.menu-item-has-children:hover > .sub-menu
						display: block
		.user-profile
			float: right
			margin-top: 19px
			a.registration::after
				content: ''
				display: inline-block
				width: 22px
				height: 22px
				background: url(../img/sprite.png) -13px 0 no-repeat
				margin-left: 19px
				vertical-align: top
				margin-top: 3px
	.bottom-bar
		background-color: #fff
		padding-bottom: 40px
		position: relative
		border-bottom: 1px solid #797979
		a.logo, .phone-block, .adress-block, .search-block
			float: left
		.basket-block
			float: right
		a.logo
			margin-top: 32px
			margin-right: 126px
		.search-block
			width: 214px
			margin-top: 35px
			margin-right: 103px
			#searchform
				background-color: #fff
				border: 1px solid #797979
				border-radius: 4px
				height: 31px
				width: 214px
				position: relative
				input[type="text"]
					height: 31px
					background: none
					border: none
					padding: 0 46px 0 13px
					font-size: 12px
					width: 214px
				input[type="submit"]
					position: absolute
					right: -1px
					top: -1px
					margin: 0
					padding: 0
					border: none
					background: url(../img/sprite.png) 0 -25px no-repeat
					border-radius: 4px
					font-size: 0
					height: 32px
					width: 33px
					&:hover
						opacity: .9
		.phone-block
			margin-top: 38px
			margin-right: 86px
			position: relative
			&::before
				content: ''
				background: url(../img/sprite.png) -37px 0 no-repeat
				height: 25px
				width: 15px
				display: block
				position: absolute
				left: -34px
				top: 12px
			a
				line-height: 1.4
				display: inline-block
			a.phone
				display: block
				border-bottom: none
				font-family: $gpm
			a.callback
				font-size: 0.875em
				vertical-align: top
				line-height: 1.2
		.adress-block
			margin-top: 41px
			position: relative
			&::before
				content: ''
				background: url(../img/sprite.png) -54px 0 no-repeat
				display: block
				height: 25px
				width: 21px
				position: absolute
				margin-left: -38px
				margin-top: 7px
			h3
				margin: 0
				font-size: 1em
				line-height: 1
				font-family: $gpm
			a
				font-size: 0.875em
		.basket-block
			position: relative
			margin-top: 39px
			.wrap-product-basket
				position: absolute
				right: 0
				margin-top: 15px
				background-color: #fff
				width: 300px
				box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35)
				z-index: 1000
				display: none
				.close-basket
					position: absolute
					right: -12px
					top: -14px
					font-size: 28px
					line-height: 1
					cursor: pointer
					color: #555
					z-index: 100
				&.hovered
					display: block
				.product-basket
					margin: 0
					padding: 0
					list-style: none
					max-height: 300px
					overflow-y: auto
					overflow-x: hidden
					#no-products
						text-align: center
						padding: 15px
					li
						position: relative
						.fa
							position: absolute
							right: 10px
							top: 50%
							margin-top: -8px
							cursor: pointer
						a
							padding: 10px
							display: block
							border: none
							border-bottom: 1px solid #e8e8e8
							background-color: #fff
							font-family: $gpr
							padding-right: 30px
							&:hover
								background-color: #fafafa
				a.btn-basket
					display: block
					float: left
					width: 50%
					border: none
					background-color: #fbd091
					color: #fff
					text-align: center
					padding: 8px
					font-size: .9em
					transition: $trans
					&:hover
						box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35)
				#clear-basket
					background-color: $accent
			.number
				position: absolute
				left: -32px
				span
					background-color: $accent
					border-radius: 50%
					color: #fff
					width: 24px
					height: 24px
					display: block
					position: absolute
					text-align: center
					line-height: 1.5
				&::before
					content: ''
					background: url(../img/sprite.png) -77px 0 no-repeat
					display: block
					width: 31px
					height: 29px
					position: absolute
					left: -15px
					top: 8px
			h3, p
				margin: 0
			h3
				font-family: $gpm
				font-size: 1em
			p
				font-size: 0.875em
// END HEADER

// START SLIDER HOME
.slider
	position: relative
	.owl-dots
		text-align: center
		position: absolute
		width: 100%
		bottom: 26px
		.owl-dot
			background-color: #fff
			display: inline-block
			width: 16px
			height: 16px
			border-radius: 50%
			box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.55)
			margin: 0 5px
			&.active
				background-color: $accent
	.owl-home-navigation
		position: absolute
		left: 0
		top: 50%
		margin-top: -22.5px
		z-index: 2000
		width: 100%
		.owl-prev
			float: left
			.fa
				margin-right: 3px
		.owl-next
			float: right
			.fa
				margin-left: 3px
		.owl-prev, .owl-next
			width: 45px
			height: 45px
			background-color: $accent
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50%
			cursor: pointer
			transition: $trans
			box-shadow: 0px 10px 15px -8px rgba(0,0,0,0.75)
			&:hover
				background-color: #fbd091
			.fa
				color: #fff
				line-height: 1
				font-weight: bold
				font-size: 2.4em
// END SLIDER HOME


// START CATALOGUE-MENU
a.catalogue
	background-color: $accent
	color: #fff
	font-family: $gpm
	border: none
	border-bottom-right-radius: 4px
	border-bottom-left-radius: 4px
	padding: 10px 64px 11px 27px
	position: absolute
	bottom: 0
	height: 49px
	margin-bottom: -49px
	z-index: 3000
	width: 273px
	&.active
		background-color: #fbd091
		color: #2b2a29
	.fa-bars
		font-size: 1.3em
		font-weight: normal
		vertical-align: top
		line-height: 28px
		margin-right: 20px
#catalogue-menu
	display: none
	position: absolute
	z-index: 2500
	background-color: #f7f7f7
	top: 100%
	border-bottom-right-radius: 4px
	border-bottom-left-radius: 4px
	padding-bottom: 2px
	width: 273px
	min-width: 273px
	.active
		color: $accent
		font-family: $gpm
	&.catalogue-menu-full-width
		width: 1170px
		min-width: 1170px
	ul.catalogue-menu
		margin: 0
		padding: 0
		list-style: none
		width: 273px
		padding: 65px 26px 24px
		border-right: 1px solid #d1d1d1
		li
			line-height: 1.2
			margin-bottom: 17px
			&:last-child
				margin-bottom: 0
			a
				font-size: 0.938em
				border: none
				display: inline-block
				width: 100%
				&:hover
					color: $accent
		& > .menu-item-has-children	> a::after
			content: '\f105'
			font-family: FontAwesome
			float: right
			position: relative
			left: 20px
		& > .menu-item-has-children > .sub-menu
			position: absolute
			left: 273px
			top: 62px
			padding-top: 60px
			background-color: #f7f7f7
			display: none
			flex-wrap: wrap
			margin: 0
			padding-left: 25px
			list-style: none
			li.parent-sub-menu
				position: absolute
				top: 0
				a
					color: $accent
					font-family: $gpm
					font-size: 1.125em
					font-weight: bold
			&.hovered
				display: flex
			.menu-item-has-children
				margin-right: 10px
				min-width: 250px
				margin-bottom: 30px
				& > a
					font-family: $gpm
					margin-bottom: 29px
				a
					font-size: 1em
				.sub-menu
					margin: 0
					padding: 0
					list-style: none
					li
						line-height: 1.2
						margin-bottom: 7px
						&:last-child
							margin-bottom: 0
#nav-overley
	position: fixed
	background-color: rgba(43,42,41,.7)
	width: 100%
	height: 100%
	left: 0
	z-index: 2300
	margin-top: 40px
	cursor: pointer
	display: none
	left: 0
	top: 0
	margin: 0
// END CATALOGUE-MENU

// START CATALOGUE NAV ICON
.catalogue-nav-icon
	padding-top: 80px
	padding-bottom: 55px
	.bg-gray
		padding: 0 51px
		border-radius: 6px
		box-shadow: 0px 5px 15px -7px rgba(0,0,0,0.45)
	a.catalogue-nav-icon-item
		display: block
		border-bottom: none
		width: 20%
		float: left
		height: 142px
		text-align: center
		padding: 20px 20px 10px
		line-height: 1
		transition: $trans
		.icon
			width: 58px
			height: 47px
			transition: $trans
			background-image: url(../img/sprite.png)
			background-repeat: no-repeat
			display: block
			margin: 0 auto 12px
		&:hover
			background-color: $accent
			color: #fff
			h3
				font-family: $gpm
		h3
			line-height: 1.2
			margin: 0
			font-size: 1em
			font-weight: normal
			min-height: 57px
			display: flex
			justify-content: center
			align-items: center
		&.catalogue-nav-icon-item-01
			.icon
				background-position: 0 -60px
			&:hover .icon
				background-position-x: -61px
		&.catalogue-nav-icon-item-02
			.icon
				background-position: -122px -60px
			&:hover .icon
				background-position-x: -183px
		&.catalogue-nav-icon-item-03
			.icon
				background-position: -244px -60px
			&:hover .icon
				background-position-x: -305px
		&.catalogue-nav-icon-item-04
			.icon
				background-position: 0 -109px
			&:hover .icon
				background-position-x: -61px
		&.catalogue-nav-icon-item-05
			.icon
				background-position: -122px -109px
			&:hover .icon
				background-position-x: -183px
		&.catalogue-nav-icon-item-06
			.icon
				background-position: -244px -109px
			&:hover .icon
				background-position-x: -305px
		&.catalogue-nav-icon-item-07
			.icon
				background-position: 0 -158px
			&:hover .icon
				background-position-x: -61px
		&.catalogue-nav-icon-item-08
			.icon
				background-position: -122px -158px
			&:hover .icon
				background-position-x: -183px
		&.catalogue-nav-icon-item-09
			.icon
				background-position: -244px -158px
			&:hover .icon
				background-position-x: -305px
		&.catalogue-nav-icon-item-10
			.icon
				background-position: 0 -207px
			&:hover .icon
				background-position-x: -61px
// END CATALOGUE NAV ICON

// START MANUFACTURER SLIDER
.manufacturer
	padding-top: 55px
	padding-bottom: 114px
#owl-manufacturer-navigation
	text-align: right
	margin-top: -20px
	margin-bottom: 40px
.owl-manufacturer .item a
	display: block
	border: none
// END MANUFACTURER SLIDER

// START ADVANTAGES
.advantages
	background-color: #f7f7f7
	padding-top: 66px
	padding-bottom: 44px
	.section-title
		margin-bottom: 38px
	.icon-block
		text-align: center
		max-width: 170px
		margin-bottom: 30px
		img
			max-width: 101px
			max-height: 101px
			border-radius: 50%
		p
			margin: 21px 0 0
			line-height: 1.2
			font-size: 1.063em
		&:hover img
			animation: pulse 1.8s infinite;
@-webkit-keyframes pulse
	0%
		-webkit-box-shadow: 0 0 0 0 rgba(251,208,145, 1)
	70%
		-webkit-box-shadow: 0 0 0 30px rgba(0,161,63, 0)
	100%
		-webkit-box-shadow: 0 0 0 0 rgba(0,161,63, 0)
// END ADVANTAGES

// START WORKING
.working
	padding-top: 94px
	padding-bottom: 57px
	.section-title
		margin-bottom: 38px
.working-block
	text-align: center
	margin-bottom: 30px
	&::after, &::before
		content: ''
		display: block
		background-color:  #e8e8e8
		height: 1px
		width: 50%
		position: absolute
		top: 24.5px
	&::after
		right: 0		
	&::before
		left: 0
	&.working-block-first::before, &.working-block-last::after
		display: none
	.number
		display: inline-block
		margin: 0
		width: 47px
		height: 47px
		line-height: 44px
		color: $accent
		font-family: $gpm
		font-size: 20px
		vertical-align: middle
		border-radius: 50%
		background-color: #fff
		border: 2px solid $accent
		margin-bottom: 34px
		position: relative
		z-index: 10
		&::after
			content: ''
			width: 1px
			height: 32px
			background-color: #e8e8e8
			display: block
			margin: 2px auto 0
	.description
		text-align: left
		background-color: #e8e8e8
		padding: 18px 5px 20px 18px
		border-radius: 4px
		display: flex
		align-items: center
		min-height: 89px
		img, p
			display: inline-block
		p
			font-family: $gpm
			text-transform: uppercase
			margin: 0
			line-height: 1.2
			font-size: 0.875em
		img
			margin-right: 9px
// END WORKING

// START PORTFOLIO
.portfolio
	padding-top: 57px
	padding-bottom: 112px
	.row
		margin: 0
a.portfolio-block
	display: block
	border: none
	background-color: $accent
	min-height: 235px
	&:hover img
		opacity: .75
	img
		width: auto
		height: 100%
		transition: $trans
	h3, p
		margin: 0
		color: #fff
	h3
		text-transform: uppercase
		font-size: 1.250em
		font-family: $gpm
		line-height: 1.2
		font-weight: normal
		margin-left: 35px
		padding-top: 40px
		&::after
			content: ''
			display: block
			width: 81px
			height: 3px
			background-color: #fff
			margin-top: 9px
	p
		position: absolute
		bottom: 18px
		left: 40px
		margin: 0
		font-family: $gpm
// END PORTFOLIO

// START CAPTURE USER
.capture-user
	height: 402px
	.order, .question
		height: 402px
	.order
		background: linear-gradient(to bottom right, $accent 50%, #f7f7f7 50%, #f7f7f7 100%)
	.form-wrap
		float: right
		padding-right: 33px
		padding-top: 50px
		h3
			margin: 0 0 35px
			font-weight: normal
			font-family: $gpm
			color: #fff
			text-transform: uppercase
			font-size: 1.250em
			line-height: 1.2
		.default-form
			width: 506px
			input[type="text"]
				display: block
				width: 100%
				background-color: #fff
				border-radius: 5px
				border: 1px solid #797979
				padding: 0 18px
				min-height: 39px
				font-size: 0.875em
				margin-bottom: 22px
				color: #2b2a29
			button
				margin-top: 26px
	.question
		background: url(../img/question-bg.jpg) center center no-repeat
		background-size: cover
		padding-left: 53px
		display: flex
		flex-direction: column
		justify-content: center
		align-items: flex-start
		h3, a
			line-height: 1.2
			font-family: $gpm
		h3
			margin: 0 0 11px
			color: #fff
			text-transform: uppercase
			font-weight: normal
			font-size: 2.250em
		.call-question-popup
			font-size: 1.563em
			color: #fff
			border-color: #fff
// END CAPTURE USER

// START MAP
.map
	height: 458px
	background-color: #f7f7f7
	position: relative
	#ya-map
		width: 100%
		height: 100%
.contact-block
	width: 472px
	height: 332px
	background-color: rgba(255,255,255,.76)
	text-align: center
	position: absolute
	top: 71px
	left: 50%
	margin-left: -472px
	.btn
		margin-top: 30px
	h3
		margin: 0 0 39px
		line-height: 1.2
		font-weight: normal
		font-family: $gpm
		background-color: $accent
		display: inline-block
		text-transform: uppercase
		color: #fff
		border-bottom-right-radius: 5px
		border-bottom-left-radius: 5px
		padding: 9px 21px 8px
		font-family: 1.250em
	ul
		margin: 0 auto
		padding: 0
		list-style: none
		width: 380px
		li
			line-height: 1.4
			margin-bottom: 13px
			&::after
				content: ''
				display: block
				clear: both
			b
				min-width: 133px
				display: block
				float: left
				text-align: right
				font-weight: normal
				font-family: $gpm
				margin-right: 31px
			span
				display: block
				text-align: left
				float: left
				a
					border: none
// END MAP

// START FOOTER
.main-footer
	.top-footer
		background-color: #f7f7f7
		padding-top: 38px
		padding-bottom: 51px
		.logo
			width: 169px
		.pay
			margin-top: 40px
			p
				font-size: 1.125em
				margin: 0 0 5px
		.phone-block
			line-height: 1.6
			margin-top: 44px
			a
				border: none
				font-family: $gpm
				font-size: 1.125em
		.footer-nav
			padding-top: 38px
			ul
				list-style: none
				margin: 0
				padding: 0
				li 
					max-width: 225px
					line-height: 1.2
					margin-bottom: 13px
					a:hover
						color: $accent
			& > ul
				display: flex
				justify-content: space-between
				& > li a
					font-size: 1.125em
					border: none
			li .sub-menu 
				margin-top: 13px
				li a
					font-size: 0.938em
		.footer-nav-mobile
			margin-bottom: 50px
			ul
				margin: 0
				padding: 0
				list-style: none
				li
					line-height: 1
					.sub-menu
						display: none
						padding-left: 40px
						li a
							font-size: 1.2em
					&:hover .sub-menu
						display: block
					&:hover a::after
						transform: rotate(90deg);
					&.menu-item-has-children > a::after
						content: '\f105'
						font-family: FontAwesome
						float: right
						font-size: 1.5em
						transition: $trans
					a
						display: block
						width: 100%
						color: #fff
						border-bottom: 1px solid #fff
						font-family: $gpr
						font-size: 1.500em
						padding-top: 22px
						padding-bottom: 22px
	.bottom-footer
		background-color: #2b2a29
		padding-top: 39px
		padding-bottom: 35px
		h3
			margin: 0 0 10px
			font-weight: normal
			font-family: $gpm
			font-size: 1.125em
		a, &, h3
			color: #f7f7f7
		.dev, .fz
			line-height: 1.2
			margin: 0 0 2px
			text-align: center
			a, &
				color: #000
				font-size: .8em
				border: none
		.dev
			margin-top: 40px
#top
	position: fixed
	bottom: 15px
	right: 15px
	z-index: 9999
	width: 45px
	height: 45px
	background-color: $accent
	border-radius: 50%
	cursor: pointer
	transition: $trans
	text-align: center
	box-shadow: 0 10px 15px -8px rgba(0,0,0,.75)
	&:hover
		background-color: #fbd091
	.fa-angle-up
		color: #fff
		font-weight: bold
		font-size: 40px
		line-height: 41px
		vertical-align: middle
// END FOOTER

// START HEADER TOP
.toggle-nav
	font-size: 50px
	line-height: 98px
	vertical-align: middle
	display: inline-block
.icon-mobile
	border-radius: 5px
	width: 61px
	height: 61px
	vertical-align: 61px
	text-align: center
	background-color: $accent
	display: inline-block
	font-size: 42px
	margin-left: 10px
	&.active
		background-color: #fbd091
	.fa
		vertical-align: top
		margin-top: 10px
	.fa-mobile
		font-size: 48px
		margin-top: 7px
// END HEADER TOP

// START HEADER MOBILE MENU
.header-mobile-menu
	background-color: #2b2a29
	position: absolute
	z-index: 4000
	left: 0
	min-width: 100%
	padding-top: 117px
	padding-bottom: 90px
	display: none
	.choice-city
		font-size: 24px
		padding-left: 14px
		margin-bottom: 46px
		&, a
			color: #fff
		a::after
			background-position-y: 0
			margin-top: 12px
	#mobile-menu
		margin: 0
		padding: 0
		list-style: none
		li
			line-height: 1
			a
				color: #fff
				border-bottom: 1px solid #fff
				font-family: $gpr
				display: block
				width: 100%
				font-size: 1.500em
				padding: 21px 19px 23px 14px
			.sub-menu
				margin: 0
				padding: 0
				list-style: none
				display: none
				min-width: 100%
				background-color: #fefefe
				li a
					background: none
					color: #2b2a29
					font-family: $gpm
					border-bottom: 1px solid #c1c1c1
					font-size: 18px
				.menu-item-has-children.active > a
					background: none
				.sub-menu
					background-color: #e7e7e7
					li a
						font-family: $gpr
					.sub-menu
						background-color: #d6d6d6
						li a
							font-size: 1em
							color: $accent
							font-family: $gpm
		& > .menu-item-has-children.active > a, .menu-item-has-children.active > a
			background-color: $accent
			&::after
				transform: rotate(90deg);
		.menu-item-has-children > a::after
			content: '\f105'
			font-family: FontAwesome
			float: right
			font-size: 1.4em
	.contact-block
		background: none
		width: auto
		&, a
			color: #fff
		.phone a
			border: none
			display: inline-block
			font-size: 1.500em
			font-family: $gpm
		a.btn
			margin-bottom: 40px
// END HEADER MOBILE MENU

// START CONTENT
.content
	padding-top: 64px
	margin-bottom: 103px
	.category-title
		padding: 15px 0 20px
	.breadcrumbs
		font-size: 1em
		border-bottom: 1px solid #e8e8e8
		padding-bottom: 21px
		a
			border: none
		.separator
			margin: 0 10px
		.last-item
			color: $accent
			font-family: $gpm
	#owl-manufacturer-navigation
		text-align: left
		margin: 0
		.owl-prev, .owl-next
			position: absolute
			top: 50%
			z-index: 100
			margin-top: -9.5px
		.owl-prev
			left: 20px
		.owl-next
			right: 20px
	.owl-category-manufacturer
		padding: 36px 51px 22px
	.owl-category-manufacturer .item a
		border: 1px solid #e8e8e8
		padding: 10px 20px
		display: block
		&:hover
			border-color: $accent
// END CONTENT

// START SIDEBAR
.sidebar
	margin: 29px 0 26.5px
	.sidebar-menu
		padding-top: 29px
		padding-left: 1px
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				line-height: 1.2
				font-family: $gpm
				color: #797979
				font-size: 0.875em
				margin-bottom: 22px
				&.current-cat a
					color: $accent
				.children
					margin: 10px 0 5px 30px
					li a
						margin-bottom: 15px
				a
					display: inline
					border: none
					font-family: $default-font
					font-size: 16px
					&:hover
						color: $accent
	.widget
		margin-top: 26.5px
		.widget-title
			border: 1px solid #e8e8e8
			text-align: center
			margin: 0
			line-height: 1.2
			font-weight: normal
			font-family: $gpm
			padding: 12px 0 15px
		.options-block
			margin-top: 34px
			.options-title
				margin: 0 0 22px
				line-height: 1.2
				font-size: 1em
				font-weight: normal
			form
				.container-label
					display: block
					position: relative
					padding-left: 42px
					margin-bottom: 13px
					cursor: pointer
					user-select: none
					input
						position: absolute
						opacity: 0
						cursor: pointer
					.checkmark
						position: absolute;
						top: 6px;
						left: 0;
						height: 18px;
						width: 18px;
						background-color: #fff
						border: 2px solid #fff
						outline: 1px solid $accent
						transition: $trans
						&:after
							content: ""
							position: absolute
							display: none
					&:hover input ~ .checkmark
						background-color: $accent
					input:checked ~ .checkmark
						background-color: $accent
					input:checked ~ .checkmark
						display: block
				.container-color
					margin: 0 4px 10px
					padding: 
					width: 55px
					height: 55px
					float: left
					.checkmark
						outline: 3px solid $accent
						border: 4px solid #fff
						width: 49px
						height: 49px
					input:checked ~ .checkmark
						display: block
						opacity: .5
					input[value = Оранжевый] + .checkmark
						background-color: orange
					input[value = Желтый] + .checkmark
						background-color: #f7ce2c
					input[value = Красный] + .checkmark
						background-color: red
					input[value = Коричневый] + .checkmark
						background-color: #814000
					input[value = Бордовый] + .checkmark
						background-color: #a04d3d
					input[value = Бежевый] + .checkmark
						background-color: #bf977e
					input[value = Черный] + .checkmark, input[value = Чёрный] + .checkmark
						background-color: #000
					input[value = Зеленый] + .checkmark
						background-color: green
					input[value = Серый] + .checkmark
						background-color: gray
					input[value = Медный] + .checkmark
						background-color: #8a684d
					input[value = Золото] + .checkmark
						background-color: #FFD700
					input[value = Дюна] + .checkmark
						background-color: #8d806b
					input[value = Cиний] + .checkmark, input[value = Синий] + .checkmark
						background-color: blue
					input[value = Гранит] + .checkmark
						background-color: #585b60
					input[value = Махагон] + .checkmark
						background-color: #3f1918
					input[value ~= Осенние] + .checkmark
						background-color: #c76a0d
					input[value ~= Спелый] + .checkmark
						background-color: #6a3a1b
					input[value = Терракота] + .checkmark, input[value = Терракот] + .checkmark, input[value = Терракотовый] + .checkmark
						background-color: #a0442f
					input[value ~= Южный] + .checkmark
						background-color: #8c7b72
					input[value ~= Мускатный] + .checkmark
						background-color: #866f61
					input[value ~= Аравийское] + .checkmark
						background-color: #69504b
					input[value ~= Темная] + .checkmark
						background-color: #d2721b
					input[value = Сахара] + .checkmark, input[value = Песочный] + .checkmark
						background-color: #dfc9b4
					input[value = Ямайка] + .checkmark
						background-color: #be8e85
					input[value = Гавана] + .checkmark
						background-color: #974b2f
					input[value = Альберти] + .checkmark
						background-color: #6b645f
					input[value = Лоренцо] + .checkmark
						background-color: #746260
					input[value = Палладио] + .checkmark
						background-color: #7f503c
					input[value = Санти] + .checkmark
						background-color: #916852
					input[value = Белый] + .checkmark
						background-color: #fff
					input[value = Готика] + .checkmark
						background-color: #45362b
					input[value = Бруно] + .checkmark
						background-color: #60330a
					input[value = Персик] + .checkmark
						background-color: #ffcaa6
					input[value ~= Солома] + .checkmark
						background-color: #ffd897
					input[value = Соломенный] + .checkmark
						background-color: #c8a46d
					input[value = Янтарь] + .checkmark
						background-color: #f19d00
					input[value = Абрикосовый] + .checkmark
						background-color: #f8b878
					input[value ~= Слоновая] + .checkmark
						background-color: #eddeb5
					input[value = Пшеничный] + .checkmark
						background-color: #d6a675
					input[value = Пшеничный] + .checkmark
						background-color: #d6a675
					input[value = фиолетовый] + .checkmark
						background-color: #5c4387
					input[value = Розовый] + .checkmark
						background-color: #f09aa5
					input[value = Мрамор] + .checkmark
						background-color: #e9e9e9
					input[value = Коралловый] + .checkmark
						background-color: #fe6f5f
// END SIDEBAR

// START PRODUCT ITEM
.product-list
	margin-top: 29px
.product-item
	border: 1px solid #e8e8e8
	padding: 18px 22px
	text-align: center
	margin-bottom: 40px
	&:hover
		border-color: $accent
	a
		border: none
	img
		display: block
		max-width: 100%
		margin: 0 auto 32px
		height: 131px
	a.title
		display: inline-block
		line-height: 1.2
		font-family: $gpm
		margin-bottom: 3px
		height: 60px
	p
		margin: 0 0 35px
		line-height: 1.2
		font-size: 0.875em
		height: 55px
	a.title, p
		overflow: hidden
a.add-to-cart
	display: inline-block
	font-family: $gpm
	background: $accent url(../img/add-to-cart.png) 15px center no-repeat
	height: 37px
	color: #fff
	border-radius: 5px
	padding: 4px 12px 0 55px
	cursor: pointer
	text-decoration: none
	&:hover
		background-image: url(../img/add-to-cart-gray.png)
		background-color: #fbd091
		color: #2b2a29
		border: none
// END PRODUCT ITEM

// START DEFAULT MODAL
#modal-callback
	max-width: 500px
.default-modal
	h2
		margin-top: 0
		font-weight: normal
		font-family: $gpr
	textarea
		max-height: 100px
	input[type="file"]
		margin-bottom: 20px
	input[type="text"],
	input[type="email"],
	textarea
		display: block
		width: 100%
		margin-bottom: 15px
		border-radius: 5px
		border: 1px solid #fbd091
		padding: 5px 15px
		color: #2b2a29
		&:focus:required:invalid
			color: #2b2a29
		&:required:valid
			color: #2b2a29
	button
		margin-top: 15px
	.fz
		font-size: .8em
		line-height: 1.2
		margin: 15px 0 0
		text-align: center
// END DEFAULT MODAL

// PRODUCT GALLERY
.owl-product-gallery
	margin-bottom: 66px
	.owl-dots
		display: flex
		padding: 10px 40px
		flex-wrap: wrap
		.owl-dot
			margin: 10px
			max-width: 108px
			img
				width: 100%
				border: 1px solid #fff
			&.active img
				border-color: $accent
	.owl-nav
		position: absolute
		width: 100%
		.owl-prev, .owl-next
			position: absolute
			top: 38px
		.owl-prev
			left: 0
		.owl-next
			right: 0
// END PRODUCT GALLERY

// PRODUCT DESCRIPTION
.product-description-block
	margin-bottom: 50px
	h3
		font-size: 1.563em
		text-transform: uppercase
		font-weight: normal
		font-family: $gpm
		line-height: 1.4
	table tr td
		font-size: 0.813em
	p
		margin: 25px 0 0
// END PRODUCT DESCRIPTION

// PRODUCT CHARACTERISTICS
.product-characteristics
	padding-top: 20px
	p
		margin: 0 0 15px
		line-height: 1.4
		span
			font-weight: normal
			font-family: $gpr

// START MOBILE CATALOGUE NAVIGATION
#mobile-catalogue-menu
	background-color: #fefefe
	.mobile-catalogue-menu
		margin: 0
		padding: 0
		list-style: none
		li
			line-height: 1
			a
				color: #fff
				border-bottom: 1px solid #fff
				font-family: $gpr
				display: block
				width: 100%
				font-size: 1.500em
				padding: 21px 19px 23px 14px
				background-color: $accent
			.sub-menu
				margin: 0
				padding: 0
				list-style: none
				display: none
				min-width: 100%
				background-color: #fefefe
				li a
					background: none
					color: #2b2a29
					font-family: $gpm
					border-bottom: 1px solid #c1c1c1
					font-size: 18px
				.menu-item-has-children.active > a
					background: none
				.sub-menu
					background-color: #e7e7e7
					li a
						font-family: $gpr
					.sub-menu
						background-color: #d6d6d6
						li a
							font-size: 1em
							color: $accent
							font-family: $gpm
		& > .menu-item-has-children.active > a, .menu-item-has-children.active > a
			background-color: $accent
			&::after
				transform: rotate(90deg)
		.menu-item-has-children > a::after
			content: '\f105'
			font-family: FontAwesome
			float: right
			font-size: 1.4em
// END MOBILE CATALOGUE NAVIGATION

// START OTHER STYLE
th
	border: 1px solid #e5e5e5
	line-height: 1.2
	padding-top: 10px
	padding-bottom: 10px
table
	max-width: 100%
	tr td
		border: 1px solid #e8e8e8
		padding: 10px 20px
a.logo
	max-width: 199px
	height: auto
	display: inline-block
	border: none
	img
		max-width: 100%
.bg-gray
	background-color: #f7f7f7
.border-top
	border-top: 1px solid #e8e8e8
.section-title
	text-transform: uppercase
	font-size: 1.563em
	margin: 0
	line-height: 1.2
	font-family: $gpm
	text-align: center
	&::after
		content: ''
		max-width: 81px
		width: 100%
		height: 3px
		display: block
		margin: 14px auto 0
		background-color: $accent
.padding-none
	padding: 0
.default-form button
	display: inline-block
	min-height: 42px
	line-height: 1.2
	padding: 0 14px
	background-color: $accent
	border: 1px solid $accent
	font-size: 1.125em
	color: #fff
	border-radius: 5px
	font-family: $gpm
	transition: $trans
	&:hover
		background: none
		color: $accent
.alignright
	text-align: right
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15
	position: relative
	min-height: 1px
	padding-right: 20px
	padding-left: 20px
.col-xs-15
	width: 20%
	float: left
a.btn
	border: 1px solid $accent
	color: #fff
	background-color: $accent
	border-radius: 5px
	padding: 9px 24px 12px
	transition: $trans
	font-family: $gpm
	display: inline-block
	&:hover
		background: none
		color: $accent
p.choice-city
	display: inline-block
	margin: 0 0 11px
	line-height: 1
	font-size: 0.875em
	a
		font-family: $gpm
		border-bottom: 0
		span
			padding-left: 1px
			padding-right: 2px
			border-bottom: 2px dashed #9c9c9b
			display: inline-block
		&:hover span
			border-bottom-style: solid
		&::after
			content: ''
			display: inline-block
			background: url(../img/sprite.png) 0 -9px no-repeat
			height: 7px
			width: 11px
			transition: $trans
			vertical-align: top
			margin-top: 4px
			margin-left: 11px
.representation
	color: #fff
	a
		border: none
		color: #fff
	a,p
		font-size: 0.875em
	b
		font-family: $gpm
		font-weight: normal
		font-size: 1.143em
	.open-map-popup
		text-decoration: underline
.padding-left-right-14
	padding-left: 14px
	padding-right: 14px
.category-title
	font-size: 1.125em
	font-family: $gpm
	line-height: 1.2
	margin: 0
.no-margin
	margin: 0
hr
	border-color: #e8e8e8
a.sale
	background-color: $accent
	width: 100%
	display: inline-block
	text-align: center
	color: #fff
	border: 1px solid $accent
	font-family: $gpm
	font-size: 1.125em
	padding: 9px 0
	transition: $trans
	&:hover
		background: none
		color: $accent
a.parent-category
	width: 100%
	display: inline-block
	background: none
	border: 1px solid #e8e8e8
	text-align: center
	font-family: $gpm
	margin-top: 15px
	padding: 10px
	color: #999
	font-size: .9em
	transition: $trans
	&:hover
		border-color: $accent
		color: $accent
.modal-add-to-cart
	max-width: 500px
	h2
		line-height: 1.2
	p
		font-size: 18px
.aligncenter
	text-align: center
#modal-ordering
	max-width: 500px
	width: 100%
a.post-thumbnail
	border: none
h1.entry-title
	font-size: 1.875em
	font-weight: normal
	font-family: $gpm
	line-height: 1.4
	margin: 48px 0 66px
#owl-related-navigation
	float: right
.title-carousel
	float: left
	text-transform: uppercase
	font-family: $gpm
	font-weight: normal
	font-size: 1.563em
	line-height: 1.4
	margin: 0 0 47px
b
	font-family: $gpm
	font-weight: normal
.none-photo
	text-align: center
	background: #f2f2f2
	display: block
	line-height: 1.2
	font-size: 15px
	border-radius: 50%
	height: 150px
	width: 150px
	padding-top: 53px
	margin: 0 auto 13px
	border: 1px solid #d0d0d0
.owl-related-products .item img
	max-width: 100%
	width: auto
.pagination
	border-top: 1px solid #e8e8e8
	padding-top: 10px
	text-align: center
	a
		border: none
		&:hover
			border-color: #fbd091
	.page-numbers
		border: 1px solid $accent
		padding: 3px 10px
		font-size: 14px
	.current
		border-color: #fbd091
.b-table__row
	display: table-row
	border-top: 1px solid
	&:first-of-type .b-table__cell
		border-top: 1px solid #e8e8e8
.b-table__cell
	display: table-cell
	vertical-align: top
	padding: 10px 20px
	font-size: .813em
	border-right: 1px solid #e8e8e8
	border-bottom: 1px solid #e8e8e8
	line-height: 1.4
	&:first-of-type
		border-left: 1px solid #e8e8e8
	&:last-of-type
		width: 30%
		max-width: 200px
		text-align: center
		font-family: $gpm
#sorted
	padding-bottom: 20px
	margin-bottom: 40px
	border-bottom: 1px solid #e8e8e8
	font-size: 14px
#all_page_number
	margin-left: 7px
	color: #797979
.gallery-item
	padding: 15px
	a
		display: inline-block
		border-radius: 4px
		background-color: $accent
		border: 1px solid $accent
		img
			opacity: .9
			transition: $trans
			border-radius: 4px
		&:hover img
			opacity: 1
.taxvisitors-item
	position: relative
	padding-left: 100px
	margin-bottom: 50px
	.none-photo
		margin: 0 0 15px
		width: 100%
		border-radius: 0
	.thumbnail
		position: relative
		transition: $trans
		a
			display: block
			border: none
		a.more
			position: absolute
			top: 50%
			margin-top: -15px
			right: 50%
			margin-right: -50px
			background: #666
			color: #fff
			border: none
			width: 100px
			text-align: center
			height: 30px
			line-height: 30px
			display: none
		&:hover
			background-color: $accent
			img
				opacity: .8
			a.more
				display: block
	.date
		position: absolute
		left: 0
		background: #a52428
		width: 100px
		color: #fff
		font-size: 24px
		text-align: center
		line-height: 1
		padding: 15px 0
	.title
		font-size: 1.2em
		margin-top: 10px
		line-height: 1.2
		display: inline-block
#project-bye
	background-color: #a52428
	text-align: center
	color: #fff
	position: fixed
	top: 5px
	right: 5px
	width: 100px
	line-height: 1.2
	border-radius: 50%
	cursor: pointer
	z-index: 9000
	&:hover
		background-color: #fbd091
		color: #2b2a29
	span
		display: flex
		height: 100px
		align-items: center
		justify-content: center
		font-size: 0.9em
// END OTHER STYLE

// START UNYSON
.fw-col-xs-1, .fw-col-sm-1, .fw-col-md-1, .fw-col-lg-1, .fw-col-xs-2, .fw-col-sm-2, .fw-col-md-2, .fw-col-lg-2, .fw-col-xs-3, .fw-col-sm-3, .fw-col-md-3, .fw-col-lg-3, .fw-col-xs-4, .fw-col-sm-4, .fw-col-md-4, .fw-col-lg-4, .fw-col-xs-5, .fw-col-sm-5, .fw-col-md-5, .fw-col-lg-5, .fw-col-xs-6, .fw-col-sm-6, .fw-col-md-6, .fw-col-lg-6, .fw-col-xs-7, .fw-col-sm-7, .fw-col-md-7, .fw-col-lg-7, .fw-col-xs-8, .fw-col-sm-8, .fw-col-md-8, .fw-col-lg-8, .fw-col-xs-9, .fw-col-sm-9, .fw-col-md-9, .fw-col-lg-9, .fw-col-xs-10, .fw-col-sm-10, .fw-col-md-10, .fw-col-lg-10, .fw-col-xs-11, .fw-col-sm-11, .fw-col-md-11, .fw-col-lg-11, .fw-col-xs-12, .fw-col-sm-12, .fw-col-md-12, .fw-col-lg-12, .fw-col-xs-15, .fw-col-sm-15, .fw-col-md-15, .fw-col-lg-15
	padding-left: 20px
	padding-right: 20px
.fw-row
	margin-left: -20px
	margin-right: -20px
.fw-container
	padding-left: 20px
	padding-right: 20px
// END UNYSON
@import "media" // Всегда в конце